// BACGROUND IMAGE
.general-content {
  background: linear-gradient(
      to right bottom,
      rgba(126, 213, 111, 0.4),
      rgba(60, 179, 114, 0.8)
    ),
    url("/img/form.jpg");
}
// main container flex for layout
.general {
  display: flex;
}
.general-content {
  flex: 1;
}
// CARDS SECTION FOR TOURS
.cardss {
  margin: var(--marginbig);
}
